.d-none {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.icon {
    height: 48px;
    width: 48px;
}

.title {
    color: rgba(216, 145, 119);
    font-size: 48px;
    font-weight: 600;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, .25);
}

.left_half {
    height: 100%;
    width: 100%;
}

.right_half {
    height: 100%;
    width: 100%;
}

.loading_screen {
    background-color: rgba(0, 0, 0, 0.8);
    gap: 16px;
    font-size: 24px;
    color: white;
    z-index: 20;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading_animation {
    animation: spin 2s linear infinite;
    height: 64px;
    width: 64px;
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 64px;
}