.pokemon_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
    width: 200px;
    height: 300px;
    position: relative;
    z-index: 1;
    gap: 24px;
    background-color: rgb(243,242,233);
    box-shadow: 8px 8px 4px rgba(0, 0, 0, .25);
}

.pokemon_card:hover {
    cursor: pointer;
    transform: scale(0.95)
}

.pkmn_card_top {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    font-size: 20px;
    font-weight: 700;
}

.pokemon_img {
    height: 148px;
}


.type_circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;
}

.type_circle_detail {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;
}

.upper_half {
    width: 100%;
    height: 48%;
    position: absolute;
    top: 0;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    transform: translateY(-2px)
}

.lower_half {
    width: 100%;
    height: 48%;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    transform: translateY(2px);
}

.center_circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(243,242,233);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.type_box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-left: 8px;
    font-size: 16px;
}

.pokemon_detail_wrapper {
    z-index: 10;
}

.pkmn_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
    position: relative;
    z-index: 1;
    gap: 16px;
}

.pkmn_detail_top {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    font-size: 32px;
    font-weight: 700;
}

.pokemon_info {
    width: 330px;
    margin: 0 auto;
}

.pokemon_detail {
    background-color: rgb(243,242,233);
    z-index: 30;
    height: 600px;
    width: 50vw;
    padding: 24px;
}

.types_detail {
    display: flex;
    height: 200px;
    width: 200px;
    z-index: 1;
}

.pokemon_detail_bg {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 20;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail_buttons {
    z-index: 30;
    margin-top: 16px;
    margin-bottom: 32px;
}

.detail_buttons button {
    width: 160px;
    z-index: 30;
}

.button_container {
    margin: 32px;
}


.left-button {
    z-index: 30;
    position: fixed;
    left: 25%;
    top: 50vh;
    display: flex;
    align-items: center;
    padding: 8px;
}

.right-button {
    z-index: 30;
    position: fixed;
    right: 25%;
    top: 50vh;
    display: flex;
    align-items: center;
    padding: 8px;
}

.left-button:hover {
    cursor: pointer;
    transform: scale(0.90)
}

.right-button:hover {
    cursor: pointer;
    transform: scale(0.90)
}

.pokemon_card_small {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    background-color: rgb(243,242,233);
    padding: 4px;
}

.searchResult {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 360px;
    z-index: 10;
    background-color: rgba(68, 79, 89);
    width: 320px;
    padding: 8px;
    gap: 4px;
}

.pokemon_card_small:hover {
    cursor: pointer;
    transform: scale(0.95)
}

.search_img {
    height: 48px;
}

.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130;
}

.water {
    background-color: #6363f0;
}

.electric {
    background-color: #F7D02C;
}

.grass {
    background-color: #7AC74C;
}

.ice {
    background-color: #96D9D6;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.flying {
    background-color: #A98FF3;
}

.psychic {
    background-color: #F95587;
}

.bug {
    background-color: #A6B91A;
}

.rock {
    background-color: #B6A136;
}

.ghost {
    background-color: #735797;
}

.dragon {
    background-color: #6F35FC;
}

.dark {
    background-color: #705746;
}

.steel {
    background-color: #B7B7CE;
}

.fairy {
    background-color: #D685AD;
}