html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Noto Sans;
    font-size: 16px;
    background-color: rgba(230, 228, 211);
    gap: 32px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: rgba(216, 145, 119);
    padding: 16px;
    font-size: 24px;
    border: 0;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, .25);
}

button:hover {
    cursor: pointer;
    transform: scale(0.95);
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 64px;
    padding: 16px;
    border: 0;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, .25);
    background-color: rgba(68, 79, 89);
    margin-bottom: 32px;
}

footer {
    height: 64px;
    padding: 16px;
    border: 0;
    background-color: rgba(68, 79, 89);
    margin-top: 32px;
}

form {
    gap: 32px;
}

input {
    font-size: 24px;
    height: 32px;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
    border-radius: 100px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(216, 145, 119);
    width: 24px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(68, 79, 89);
    border-radius: 100px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(68, 79, 89);
}